<div class="section">
    <div class="container">
        <a class="arrow-back-link" href="./index.html">
            <svg class="arrow-back-icon" width="17" height="22">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
            Всі знаки
        </a>

        <div class="title-container">
            <img src="/img/zodiacs-with-color/diva.png"
                srcset="/img/zodiacs-with-color/diva.png 1x, /img/zodiacs-with-color/diva@2x.png 2x" alt="Diva">
            <h2 class="prognosis-title">Прогноз для знаку <span class="sign">Бандеродіва</span></h2>
        </div>

        <div class="text-container">
            <p class="text">
                Діви - фанатичні перфекціоністи, які повільно, але впевнено досягають мети.
            </p>
            <p>
                Коли Діви прасують одяг, то прасують і шкарпетки, і панчохи, і шнурки від найків. Якщо, не приведи боже,
                ви дасте Діві
                чорну ручку із зеленим ковпачком, отримає панічну атаку.
            </p>
        </div>

        <p class="slogan">"Я що, багато прошу? Просто веди себе ідеально 24/7"</p>

        <ul class="talisman-list">
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-gun"></use>
                    </svg>
                    <h3 class="talisman-title">Зброя-талісман</h3>
                </div>
                <p class="talisman-description">Зенітні самохідні установки Gepard</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-moon"></use>
                    </svg>
                    <h3 class="talisman-title">Гороскоп на 2025</h3>
                </div>
                <p class="talisman-description">Час налагоджувати стосунки</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-calendar"></use>
                    </svg>
                    <h3 class="talisman-title">Щасливі числа</h3>
                </div>
                <p class="talisman-description">5, 13, 28, 29</p>
            </li>
        </ul>
    </div>
</div>