<div class="section">
    <div class="container">
        <a class="arrow-back-link" href="./index.html">
            <svg class="arrow-back-icon" width="17" height="22">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
            Всі знаки
        </a>

        <div class="title-container">
            <img src="/img/zodiacs-with-color/lev.png"
                srcset="/img/zodiacs-with-color/lev.png 1x, /img/zodiacs-with-color/lev@2x.png 2x" alt="Lev">
            <h2 class="prognosis-title">Прогноз для знаку <span class="sign">Бандеролев</span></h2>
        </div>

        <div class="text-container">
            <p class="text">
                Леви - найбільш яскраві та харизматичні особистості. Справжні королі, завжди досягають свого, щедрі,
                великодушні, але тільки з обраними.
            </p>
            <p>
                Якщо б за гордість давали премію, статуетка була б у формі лева.
                Леви люблять жартувати над собою, але вам над ними жартувати не радимо.</p>
        </div>

        <p class="slogan">"Є тільки дві точки зору - моя та хибна"</p>

        <ul class="talisman-list">
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-gun"></use>
                    </svg>
                    <h3 class="talisman-title">Зброя-талісман</h3>
                </div>
                <p class="talisman-description">Танки Leopard</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-moon"></use>
                    </svg>
                    <h3 class="talisman-title">Гороскоп на 2025</h3>
                </div>
                <p class="talisman-description">Карʼєрне зростання та родинне полумʼя</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-calendar"></use>
                    </svg>
                    <h3 class="talisman-title">Щасливі числа</h3>
                </div>
                <p class="talisman-description">2, 14, 26, 29</p>
            </li>
        </ul>
    </div>
</div>