<div class="section">
    <div class="container">
        <a class="arrow-back-link" href="./matching.html">
            <svg class="arrow-back-icon" width="17" height="22">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
            Всі знаки
        </a>

        <div class="title-container">
            <img src="/img/zodiacs-with-color/oven.png"
                srcset="/img/zodiacs-with-color/oven.png 1x, /img/zodiacs-with-color/oven@2x.png 2x" alt="Oven">
            <h2 class="prognosis-title">Сумісність для знаку <span class="sign">Бандеровен</span></h2>
        </div>

        <div class="title-container match-sign">
            <img src="/img/zodiacs-with-color/oven.png"
                srcset="/img/zodiacs-with-color/oven.png 1x, /img/zodiacs-with-color/oven@2x.png 2x" alt="Oven">
            <h2 class="prognosis-title">Сумісність зі знаком <span class="sign">Бандеровен</span></h2>
        </div>

        <h2 class="match-title">Ваша сумісність</h2>

        <p class="match-number">1</p>

        <div class="match-description-container">
            <p class="match-description">Абсолютно несумісні.</p>
            <p>Зірочки кажуть, що стосунки приреченні, адже ви надто різні.
                Але, можливо, ви як той інь-янь: хоч і зовсім різні, але одне без одного ніяк? Тут уже залежить від вас,
                тож маєте
                почуття - спробуйте</p>
        </div>
    </div>
</div>