<div class="section">
    <div class="container">
        <a class="arrow-back-link" href="./index.html">
            <svg class="arrow-back-icon" width="17" height="22">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
            Всі знаки
        </a>

        <div class="title-container">
            <img src="/img/zodiacs-with-color/oven.png"
                srcset="/img/zodiacs-with-color/oven.png 1x, /img/zodiacs-with-color/oven@2x.png 2x" alt="Oven">
            <h2 class="prognosis-title">Прогноз для знаку <span class="sign">Бандеровен</span></h2>
        </div>

        <div class="text-container">
            <p class="text">Овни - стихія полумʼя. По життю в них теж все палає. Не знають страху, відмови, поразки.
                Якщо щось задумали - хрін перепреш.</p>
            <p>Якщо Овен неправий, він правий. Якщо ви не погоджуєтеся з Овном, погодитесь. Якщо хочете додати
                пікантності в своє життя - просто скажіть Овну, як йому жити.</p>
        </div>

        <p class="slogan">"Останнє слово завжди за нами"</p>

        <ul class="talisman-list">
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-gun"></use>
                    </svg>
                    <h3 class="talisman-title">Зброя-талісман</h3>
                </div>
                <p class="talisman-description">Протитанкові ракетні комплекси Javelin</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-moon"></use>
                    </svg>
                    <h3 class="talisman-title">Гороскоп на 2025</h3>
                </div>
                <p class="talisman-description">Знайти час на себе</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-calendar"></use>
                    </svg>
                    <h3 class="talisman-title">Щасливі числа</h3>
                </div>
                <p class="talisman-description">4, 7, 9, 11</p>
            </li>
        </ul>
    </div>
</div>