<div class="section">
    <div class="container">
        <a class="arrow-back-link" href="./index.html">
            <svg class="arrow-back-icon" width="17" height="22">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
            Всі знаки
        </a>

        <div class="title-container">
            <img src="/img/zodiacs-with-color/ryby.png"
                srcset="/img/zodiacs-with-color/ryby.png 1x, /img/zodiacs-with-color/ryby@2x.png 2x" alt="Ryby">
            <h2 class="prognosis-title">Прогноз для знаку <span class="sign">Бандериби</span></h2>
        </div>

        <div class="text-container">
            <p class="text">
                Риби - це ті самі люди, до яких ви приходите ввечері з пляшечкою вина і душевними ранами.
            </p>
            <p>
                Гнучкі особистості, які найшвидше адаптуються до будь-яких змін. Треба переїхати? Піду спакую валізку.
                Треба вночі виїхати на допомогу другу? Піду візьму лопату. Відчуття справедливості гостріше за
                самурайський меч.
            </p>
        </div>

        <p class="slogan">"У вир з головою"</p>

        <ul class="talisman-list">
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-gun"></use>
                    </svg>
                    <h3 class="talisman-title">Зброя-талісман</h3>
                </div>
                <p class="talisman-description">Протитанкові комплекси NLAW</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-moon"></use>
                    </svg>
                    <h3 class="talisman-title">Гороскоп на 2025</h3>
                </div>
                <p class="talisman-description">Подорожі та зміни в житті</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-calendar"></use>
                    </svg>
                    <h3 class="talisman-title">Щасливі числа</h3>
                </div>
                <p class="talisman-description">1, 13, 27, 31</p>
            </li>
        </ul>
    </div>
</div>