<div class="section">
    <div class="container">
        <a class="arrow-back-link" href="./index.html">
            <svg class="arrow-back-icon" width="17" height="22">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
            Всі знаки
        </a>

        <div class="title-container">
            <img src="/img/zodiacs-with-color/teresy.png"
                srcset="/img/zodiacs-with-color/teresy.png 1x, /img/zodiacs-with-color/teresy@2x.png 2x" alt="Teresy">
            <h2 class="prognosis-title">Прогноз для знаку <span class="sign">Бандерези</span></h2>
        </div>

        <div class="text-container">
            <p class="text">
                Терези - з дитинства мають якийсь особливий шарм та привабливість, за що їх неможливо не любити.
            </p>
            <p>
                Живуть у темпі "5 пʼятниць на тиждень". 5 настроїв на хвилину. 5 особистостей на день. Ніколи не знаєш,
                чого чекати від
                Терезів. Будь-яке рішення приймається 2-3 тижні. А потім ще 20 разів перевіряється.
            </p>
        </div>

        <p class="slogan">"Сам не сплю і вам не дам"</p>

        <ul class="talisman-list">
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-gun"></use>
                    </svg>
                    <h3 class="talisman-title">Зброя-талісман</h3>
                </div>
                <p class="talisman-description">Безпілотні повітряні системи Ghost</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-moon"></use>
                    </svg>
                    <h3 class="talisman-title">Гороскоп на 2025</h3>
                </div>
                <p class="talisman-description">Прибавка до зарплати та гармонія</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-calendar"></use>
                    </svg>
                    <h3 class="talisman-title">Щасливі числа</h3>
                </div>
                <p class="talisman-description">3, 12, 24, 31</p>
            </li>
        </ul>
    </div>
</div>