<div class="section">
    <div class="container">
        <a class="arrow-back-link" href="./index.html">
            <svg class="arrow-back-icon" width="17" height="22">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
            Всі знаки
        </a>

        <div class="title-container">
            <img src="/img/zodiacs-with-color/vodolii.png"
                srcset="/img/zodiacs-with-color/vodolii.png 1x, /img/zodiacs-with-color/vodolii@2x.png 2x"
                alt="Vodolii">
            <h2 class="prognosis-title">Прогноз для знаку <span class="sign">Бандеролій</span></h2>
        </div>

        <div class="text-container">
            <p class="text">
                Водолії - особистості з найбільшим серцем та душею, але якщо хочете їх обдурити, це буде ваша остання
                ідея в житті.
            </p>
            <p>
                У Водоліїв чудово розвинена інтуіція та вміння бачити людей. Ви тільки ввійшли, а вони вже знають, які у
                вас дитячі травми і що ви за людина.
            </p>
        </div>

        <p class="slogan">"Не май сто друзів, а май одного Водолія"</p>

        <ul class="talisman-list">
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-gun"></use>
                    </svg>
                    <h3 class="talisman-title">Зброя-талісман</h3>
                </div>
                <p class="talisman-description">Системи протиповітряної оборони С-300</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-moon"></use>
                    </svg>
                    <h3 class="talisman-title">Гороскоп на 2025</h3>
                </div>
                <p class="talisman-description">Нові можливості та допомога</p>
            </li>
            <li class="talisman-item">
                <div class="talisman-icon-title-container">
                    <svg class="talisman-icon" width="24" height="24">
                        <use href="/img/icons.svg#icon-calendar"></use>
                    </svg>
                    <h3 class="talisman-title">Щасливі числа</h3>
                </div>
                <p class="talisman-description">6, 11, 15, 29</p>
            </li>
        </ul>
    </div>
</div>