<div class="section zodiac-list-section">
    <div class="container">
        <h2 class="title zodiacs-list-title">Обери свій знак зодіаку</h2>
        <ul class="zodiac-list">
            <li class="zodiac-item">
                <a class="zodiac-link" href="../oven-page.html">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/oven.png"
                            srcset="/img/zodiacs-no-color/oven.png 1x, /img/zodiacs-no-color/oven@2x.png 2x" alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/oven.png"
                            srcset="/img/zodiacs-with-color/oven.png 1x, /img/zodiacs-with-color/oven@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандеровен</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="./telec-page.html">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/telec.png"
                            srcset="/img/zodiacs-no-color/telec.png 1x, /img/zodiacs-no-color/telec@2x.png 2x"
                            alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/telec.png"
                            srcset="/img/zodiacs-with-color/telec.png 1x, /img/zodiacs-with-color/telec@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандерець</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="./bliznyuky-page.html">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/bliznyuky.png"
                            srcset="/img/zodiacs-no-color/bliznyuky.png 1x, /img/zodiacs-no-color/bliznyuky@2x.png 2x"
                            alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/bliznyuky.png"
                            srcset="/img/zodiacs-with-color/bliznyuky.png 1x, /img/zodiacs-with-color/bliznyuky@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандерюки</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="./rak-page.html">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/rak.png"
                            srcset="/img/zodiacs-no-color/rak.png 1x, /img/zodiacs-no-color/rak@2x.png 2x" alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/rak.png"
                            srcset="/img/zodiacs-with-color/rak.png 1x, /img/zodiacs-with-color/rak@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандерак</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="./lev-page.html">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/lev.png"
                            srcset="/img/zodiacs-no-color/lev.png 1x, /img/zodiacs-no-color/lev@2x.png 2x" alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/lev.png"
                            srcset="/img/zodiacs-with-color/lev.png 1x, /img/zodiacs-with-color/lev@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандеролев</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/diva.png"
                            srcset="/img/zodiacs-no-color/diva.png 1x, /img/zodiacs-no-color/diva@2x.png 2x" alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/diva.png"
                            srcset="/img/zodiacs-with-color/diva.png 1x, /img/zodiacs-with-color/diva@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандеродіва</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/teresy.png"
                            srcset="/img/zodiacs-no-color/teresy.png 1x, /img/zodiacs-no-color/teresy@2x.png 2x"
                            alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/teresy.png"
                            srcset="/img/zodiacs-with-color/teresy.png 1x, /img/zodiacs-with-color/teresy@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандерези</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/skorpion.png"
                            srcset="/img/zodiacs-no-color/skorpion.png 1x, /img/zodiacs-no-color/skorpion@2x.png 2x"
                            alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/skorpion.png"
                            srcset="/img/zodiacs-with-color/skorpion.png 1x, /img/zodiacs-with-color/skorpion@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандерпіон</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/strilec.png"
                            srcset="/img/zodiacs-no-color/strilec.png 1x, /img/zodiacs-no-color/strilec@2x.png 2x"
                            alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/strilec.png"
                            srcset="/img/zodiacs-with-color/strilec.png 1x, /img/zodiacs-with-color/strilec@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандерілець</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/kozerih.png"
                            srcset="/img/zodiacs-no-color/kozerih.png 1x, /img/zodiacs-no-color/kozerih@2x.png 2x"
                            alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/kozerih.png"
                            srcset="/img/zodiacs-with-color/kozerih.png 1x, /img/zodiacs-with-color/kozerih@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандероріг</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/vodolii.png"
                            srcset="/img/zodiacs-no-color/vodolii.png 1x, /img/zodiacs-no-color/vodolii@2x.png 2x"
                            alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/vodolii.png"
                            srcset="/img/zodiacs-with-color/vodolii.png 1x, /img/zodiacs-with-color/vodolii@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандеролій</p>
                    </div>
                </a>
            </li>
            <li class="zodiac-item">
                <a class="zodiac-link" href="">
                    <div class="image-container" tabindex="0">
                        <img class="image no-color" src="/img/zodiacs-no-color/ryby.png"
                            srcset="/img/zodiacs-no-color/ryby.png 1x, /img/zodiacs-no-color/ryby@2x.png 2x" alt="Oven">
                        <img class="image color" src="/img/zodiacs-with-color/ryby.png"
                            srcset="/img/zodiacs-with-color/ryby.png 1x, /img/zodiacs-with-color/ryby@2x.png 2x"
                            alt="Oven">
                        <p class="zodiac-title">Бандериби</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>