/* Fonts */

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v26-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v26-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v26-latin-700.woff2') format('woff2');
}

/* Variables */

:root {
  --main-font-family: 'Montserrat', sans-serif;
  --main-font-size: 16px;
  --main-line-height: 1.25;

  --accent-font-color: #007aff;
  --button-font-color: #fff;
  --main-font-color: #3e3e3e;

  --active-icon-color: #007aff;
  --button-bg-color: #007aff;
  --dark-bg-color: #5f74b1;
  --hover-focus-color: #ff6b0a;
  --inactive-icon-color: #3e3e3e;
  --main-bg-color: #f0f2f8;

  --image-margin-bottom: 4px;
  --list-margin-bottom: 32px;
  --text-margin-botton: 32px;
  --title-margin-bottom: 24px;
}


/* General Styles */

*:not(svg) {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

.active {
  fill: var(--active-icon-color);
  color: var(--accent-font-color);
}

.button {
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--button-font-color);

  width: 380px;
  height: 48px;
  border: none;
  border-radius: 16px;
  background-color: var(--button-bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.container {
  width: 100%;
  max-width: 428px;
  padding: 0 24px;
  margin: 0 auto;
}

.section {
  padding-top: 30px;
  padding-bottom: 130px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-font-color);
  margin-bottom: var(--title-margin-bottom);
}

.image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--image-margin-bottom);
}

.zodiac-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
}

.zodiac-item {
  flex-basis: calc((100% - 44px) / 3);
}

.zodiac-title {
  text-align: center;
}